
.fichaBlanca {
	position: absolute;
	user-select: none;
	left: 10px;
	top: 10px;
	border-radius : 20px;
	background-color: red;
}

.fichaNegra {
	position: absolute;
	user-select: none;
	left: 10px;
	top: 10px;
	border-radius : 20px;
	background-color: blue;
}

#board {
	position: absolute;
	width: 490px;
	height: 490px;
	margin: 0.5em;
	border: 5px solid maroon;
}

#board div {
	width: 60px;
	height: 60px;
	position: absolute ;

}
#board div:nth-child(-2n+8),
#board div:nth-child(8) ~ div:nth-child(-2n+15),
#board div:nth-child(16) ~ div:nth-child(-2n+24), 
#board div:nth-child(24) ~ div:nth-child(-2n+31), 
#board div:nth-child(32) ~ div:nth-child(-2n+40), 
#board div:nth-child(40) ~ div:nth-child(-2n+47), 
#board div:nth-child(48) ~ div:nth-child(-2n+56), 
#board div:nth-child(56) ~ div:nth-child(-2n+63)
 {
    background-color: #666;
}

